<h1>HOME</h1>
<style>
#abc
{
    font-weight: normal;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
	}
	</style>
	&nbsp;&nbsp;<button class="btn btn-default" id="abc">Button</button>
	home